 {% extends 'contractor/base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white animated slideInRight">Workers</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb animated slideInRight mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Workers</li>
                </ol>
            </nav>
        </div>
    </div>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:50px">


                                 <th class="success" style="color: white;">Worker Name</th>
                                         <th class="success" style="color: white;">Worker Type</th>

                                      <th class="success" style="color: white;">Email</th>

                                 <th class="success" style="color: white;">Phone Number</th>
                                  <th class="success" style="color: white;">Address</th>
                                       <th class="success" style="color: white;">Status</th>

                                <th class="success" style="color: white;">Request</th>

              {% for i in wor %}
                                <tr style="background-color:white;width: 700px;">

                                    <td>{{ i.user.first_name }}</td>
                                  <td>{{ i.category.category }}</td>

                                    <td>{{ i.user.email }}</td>

                                    <td>{{ i.phonenumber }}</td>
                                    <td>{{ i.address }}</td>
                                    <td>{{ i.status }}</td>

                                    <td>

                                         <form action="" method="post">
        {% csrf_token %}

   <input type="text" name="action" width="50" height="50" required>
                                             <input type="hidden" name="id" value="{{ i.id }}"><button type="submit">Send</button></form></td>
<!--     <form action="#" method="post">-->
<!--        {% csrf_token %}-->
<!--<td><a href="products?id={{dri.user_id}}" class=" btn btn-success">PRODUCTS</td>-->
<!--</form>-->
<!--{#    <td><a href="reject?id={{ dri.user_id}}" class=" btn btn-danger">Remove</a></td>#}-->

</tr>



                                </tr>


              {% endfor %}



                            </table>


  {% endblock %}