{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white animated slideInRight">Contractor List</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb animated slideInRight mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contractor Lidst</li>
                </ol>
            </nav>
        </div>
    </div>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:200px">


                                 <th class="success" style="color: white;">Contactor Name</th>
                                      <th class="success" style="color: white;">Email</th>

                                 <th class="success" style="color: white;">Phone Number</th>
                                  <th class="success" style="color: white;">Address</th>
                              <th class="success" style="color: white;">Delete</th>

              {% for i in user %}
                                <tr style="background-color:white;width: 700px;">

                                    <td>{{ i.user.first_name }}</td>
                                    <td>{{ i.user.email }}</td>

                                    <td>{{ i.phonenumber }}</td>
                                    <td>{{ i.address }}</td>
                                    <td><button style="background-color:red"><a href="reject?id={{ i.user_id}}" class=" btn btn-danger">Delete</a></button></td>
                                </tr>


              {% endfor %}



                            </table>


  {% endblock %}