 {% extends 'admin/base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white animated slideInRight">View Details</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb animated slideInRight mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <h2>{{p.user.first_name}}</h2>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:50px">


                                 <th class="success" style="color: white;">Reason</th>
                                    <th class="success" style="color: white;">Contractor Name</th>
                                    <th class="success" style="color: white;">Date</th>

                                 <th class="success" style="color: white;">No of times</th>

                                 <th class="success" style="color: white;">Delete Account</th>
     {% for i in pro %}
                                <tr style="background-color:white;width: 700px;">
                                    <td>{{ i.reason }}</td>
                                    <td>{{ i.contractor.user.first_name }}</td>
                                    <td>{{ i.updated_at}}</td>

                                    <td>{{ i.count }}</td>
                                    <td><button style="background-color:limegreen"><a href="Delete_aacount?id={{ p.user_id}}" class=" btn btn-success">Delete</a></button></td>

                                </tr>


{% endfor %}



                            </table>


  {% endblock %}